        <div class='menu menu-open'>
            <ul>
                <li id='circle' viz-num='0' class='active'><div class='clicker'></div></li>
                <li id='chop' viz-num='1'><div class='clicker'></div></li>
                <li id='icosahedron' viz-num='2'><div class='clicker'></div></li>
                <li id='grid' viz-num='3'><div class='clicker'></div></li>
                <li id='equal' viz-num='4'><div class='clicker'></div></li>
                <li id='spin' viz-num='5'><div class='clicker'></div></li>
                <li id='hexbin' viz-num='6'><div class='clicker'></div></li>
            </ul>
        </div>
