        <div class="md-modal md-effect-1" id="modal-about">
            <div class="md-content">
                <!-- <h3>Credits</h3> -->
                <div style='line-height: 23px;'>
<!--                     <i class="icon-headphones"></i>
 -->                    <p>

                    MIDI.js based on soundfonts and Web Audio API is used to schedule MIDI notes. Reference <a target='_blank' href='https://github.com/mudcube/MIDI.js/'>Github</a>
                    <br />
                    The rendered audio buffer is then analyzed and rendered by party-mode built with d3. Reference <a target='_blank' href='https://github.com/preziotte/party-mode'>Github</a>
                    </p>
                    <button class="md-close">dismiss</button>
                </div>
            </div>
        </div>
        
        <div class="md-modal md-effect-1" id="modal-keyboard">
            <div class="md-content">
                <!-- <h3>Keyboard Shortcuts</h3> -->
                <div>
                    <i class="icon-keyboard"></i>
                    <ul>
                        <li>
                            <a href="#" class="key"><span>1</span></a> through <a href="#" class="key"><span>7</span></a> selects a visualization
                        </li>                        
                        <li>
                            <a href="#" class="key" style='width: 58px;'><span>space</span></a> play / pause</a>
                        </li>
                        <li>
                            <a href="#" class="key"><span>f</span></a>ull screen</a>
                        </li>
                        <li>
                            <a href="#" class="key"><span>m</span></a>enu</a>
                        </li>
                        <li>
                            <a href="#" class="key"><span>c</span></a>hange song</a>
                        </li>
                        <li>
                            <a href="#" class="key"><span>l</span></a>oop</a> random colors and visualizers
                        </li>
                        <li>
                            <a href="#" class="key"><span>&#9650;</span></a><a href="#" class="key"><span>&#9660;</span></a> cycles vizualization</a>
                        </li>
                        <li>
                            <a href="#" class="key"><span>&#9664;</span></a><a href="#" class="key"><span>&#9654;</span></a> cycles color palettes</a>
                        </li>

                    </ul>
                    <button class="md-close">dismiss</button>
                </div>
            </div>
        </div>
